<figure class="figure {{ bemMix }}" {{ tabable ? 'tabindex="0"' }}>
	{% include 'picture.twig' with image|merge({ className: 'figure__image' }) %}

	<figcaption class="figure__body">
		<h3 class="figure__heading">{{ heading }}</h3>
		<p class="figure__description">{{ description }}</p>

		<div class="figure__content">{{ content }}</div>
	</figcaption>
</figure>
