<form class="form {{ bemMix }}" action="{{ action }}" method="{{ method ?? 'get' }}" data-form>
	{% for group in fields %}
		<p class="form__group">
			{{ group }}
		</p>
	{% endfor %}

	<button class="form__submit btn" type="submit">{{ submitText ?? 'Отправить' }}</button>
</form>
