<div class="slider no-js {{ bemMix }}" data-slider {{ multiple ? 'data-multiple' }} {{ loop ? 'data-loop' }}>
	<div class="slider__body {{ shadow ? 'slider__body--shadow' }}" data-slider-body>
		<ul class="slider__list {{ multiple ? 'slider__list--gapped' }}">
			{% for slide in slides %}
				<li class="slider__item {{ multiple ? 'slider__item--card' }}">
					{% include component ~ '.twig' with slide|merge({ bemMix: 'slider__slide', tabable: true }) %}
				</li>
			{% endfor %}
		</ul>
	</div>

	<button class="slider__control slider__control--prev" type="button" data-prev>
		<span class="visually-hidden">Предыдущий слайд.</span>
	</button>
	<button class="slider__control slider__control--next" type="button" data-next>
		<span class="visually-hidden">Следующий слайд.</span>
	</button>
</div>
